{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Food Supply Chain</title>
  <!-- Compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->


  <!-- Compiled and minified JavaScript -->
  <style>
    div.main {
      padding: 5px 50px 75px 50px;
    }

    span,
    img {
      vertical-align: middle;
    }

    .brand-logo>span,
    .brand-logo>img {
      vertical-align: middle;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!-- Custom Theme files -->
  <link href="../../static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
  <link href="../../static/css/style.css" type="text/css" rel="stylesheet" media="all">
  <!-- features slider -->
  <link rel="stylesheet" href="../../static/css/flexslider.css" type="text/css" media="screen" property="" />
  <!-- font-awesome icons -->
  <link href="../../static/css/fontawesome-all.min.css" rel="stylesheet">
  <!-- //Custom Theme files -->
  <!-- online-fonts -->
  <link href="http://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../static/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../static/vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../static/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../static/vendor/perfect-scrollbar/perfect-scrollbar.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../../static/css/util.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
  <!--===============================================================================================-->


</head>

<body class="main">
  <script src='../../../../../../../ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
  <script src="../../../../../../../m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
  <script>
    (function () {
      if (typeof _bsa !== 'undefined' && _bsa) {
        // format, zoneKey, segment:value, options
        _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
      }
    })();
  </script>
  <script>
    (function () {
      if (typeof _bsa !== 'undefined' && _bsa) {
        // format, zoneKey, segment:value, options
        _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
      }
    })();
  </script>
  <script>
    (function () {
      if (typeof _bsa !== 'undefined' && _bsa) {
        // format, zoneKey, segment:value, options
        _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
      }
    })();
  </script>
  <!--<script>(function(v,d,o,ai){ai=d.createElement("script");ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, "//a.vdo.ai/core/w3layouts_V2/vdo.ai.js?vdo=34");</script>-->
  <div id="codefund">
    <!-- fallback content -->
  </div>
  <script src="../../../../../../../codefund.io/properties/441/funder.js" async="async"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src='https://www.googletagmanager.com/gtag/js?id=UA-149859901-1'></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-149859901-1');
  </script>

  <script>
    window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
    ga('create', 'UA-149859901-1', 'demo.w3layouts.com');
    ga('require', 'eventTracker');
    ga('require', 'outboundLinkTracker');
    ga('require', 'urlChangeTracker');
    ga('send', 'pageview');
  </script>
  <script async src='../../../../../../js/autotrack.js'></script>

  <meta name="robots" content="noindex">
  <link rel="stylesheet" href="../../../../../../images/demobar_w3_4thDec2019.css">

  <!---728x90--->

  <!-- banner -->
  <div class="d-lg-flex banner-main">
    <div class="col-lg-4 header-left">
      <h1>
        <a class="navbar-brand text-center" href="../../index.html">
          <span>A</span>gro
          <span>F</span>ield
        </a>
      </h1>
    </div>
    <!-- header -->
    <div class="col-lg-8 banner p-0" id="home">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary pt-3">
          <button class="navbar-toggler mx-auto bg-light" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            menu
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-lg-auto text-center">
              <li class="nav-item  mr-3">
                <a class="nav-link" href="../../index.html">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item  mr-3">
                <a class="nav-link" href="../../about.html">about</a>
              </li>
              <li class="nav-item dropdown mr-3 active ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'index' %}">Crop Price Prediction</a>
                  <a class="dropdown-item" href="../../gallery.html">Gallery</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="../../blog.html">Blog</a>
                  <a class="dropdown-item" href="../../typo.html">Typography</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../contact.html">contact</a>
              </li>
            </ul>
          </div>

        </nav>
      </header>
      <!-- //header -->
    </div>
  </div>
  <!-- //banner -->
  <!-- breadcrumbs -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="../../index.html">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Crops Price Prediction</li>
    </ol>
  </nav>


  <div class="row">
    <div style="margin-top: 0px; margin-left: 50px; margin-bottom: 40px; margin-right: 50px;">
      <b class=" #e0f7fa cyan lighten-5" style="margin-left: 15px;">Top Gainers(Current trends)</b>
      <div class="table100">
        <table>
          <thead>
            <tr class="table100-head">
              <th class="column1">Item Name</th>
              <th class="column2">Price (per Qtl.)</th>
              <th class="column3">Change</th>
            </tr>
          </thead>
          <tbody>
            {% for item in top5 %}
            <tr>
              <td class="column1">{{item.0}}</td>
              <td class="column2">₹{{item.1}}</td>
              <td class="column3 valign-wrapper">{{item.2}}% <img src="{% static 'images/gain-icon.png' %}" height="25"
                  width="25" style="margin-left: 5;"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <b class="#e0f7fa cyan lighten-5" style="margin-left: 15px;">Top Losers(Current trends)</b>
      <div class="table100">
        <table>
          <thead>
            <tr class="table100-head">
              <th class="column1">Item Name</th>
              <th class="column2">Price (per Qtl.)</th>
              <th class="column3">Change</th>
            </tr>
          </thead>
          <tbody>
            {% for item in bottom5 %}
            <tr>
              <td class="column1">{{item.0}}</td>
              <td class="column2">₹{{item.1}}</td>
              <td class="column3 valign-wrapper">{{item.2}}% <img src="{% static 'images/loss-icon.png' %}" height="25"
                  width="25" style="margin-left: 5;"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


    <div class="col s3">
      <div class="card grey lighten-3">
        <div class="card-content black-text">
          <span class="card-title" id="time">{{sixmonths.0.0}}</span>
          <table class="valign-wrapper">
            <tr>
              <td>
                <h5 id="crop1">{{sixmonths.0.1}}</h5>
              </td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td class="right">
                <h4 id="price1">₹{{sixmonths.0.2}}</h4>
                <p id="pos-change" class="valign-wrapper right">{{sixmonths.0.3}}<img
                    src="{% static 'images/gain-icon.png' %}" height="25" width="25" style="margin-left: 5;"></p>
              </td>

            </tr>
            <tr>
              <td>
                <h5 id="crop2">{{sixmonths.0.4}}</h5>
              </td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td class="right">
                <h4 id="price2">₹{{sixmonths.0.5}}</h4>
                <p id="neg-change" class="valign-wrapper right">{{sixmonths.0.6}}%<img
                    src="{% static 'images/loss-icon.png' %}" height="25" width="25" style="margin-left: 5;"></p>
              </td>
            </tr>
          </table>


        </div>
      </div>

    </div>
  </div>
  <h5>Explore by commodity</h5>
  <div class="row">
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/paddy" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/rice-bowl.png">
            </div>
            <div class="col s9">
              <span class="card-title">Paddy</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/wheat" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/wheat.png">
            </div>
            <div class="col s9">
              <span class="card-title">Wheat</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/barley" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/barley.png">
            </div>
            <div class="col s9">
              <span class="card-title">Barley</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/soyabean" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/soy.png">
            </div>
            <div class="col s9">
              <span class="card-title">Soya Bean</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/copra" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/coconut.png">
            </div>
            <div class="col s9">
              <span class="card-title">Coconut</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/groundnut" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/peanuts.png">
            </div>
            <div class="col s9">
              <span class="card-title">Ground Nut Seeds</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/bajra" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/potato.png">
            </div>
            <div class="col s9">
              <span class="card-title">Bajra</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/rape" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s1">
              <img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png">
            </div>
            <div class="col s9">
              <span class="card-title">Mustard Seed</span>
            </div>
          </div>
        </div>
      </a>

    </div>
  </div>
  <div class="row">
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/sesamum" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/sesame.png">
            </div>
            <div class="col s9">
              <span class="card-title">Gingelly Seed(Sesamum)</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/gram" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png">
            </div>
            <div class="col s9">
              <span class="card-title">Gram</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/sugarcane" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/bamboo.png">
            </div>
            <div class="col s9">
              <span class="card-title">Sugarcane</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/arhar" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png">
            </div>
            <div class="col s9">
              <span class="card-title">Arhar</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/ragi" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/office/48/000000/wheat.png">
            </div>
            <div class="col s9">
              <span class="card-title">Ragi</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/maize" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/corn.png">
            </div>
            <div class="col s9">
              <span class="card-title">Maize</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/moong" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png">
            </div>
            <div class="col s9">
              <span class="card-title">Moong</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/masoor" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png">
            </div>
            <div class="col s9">
              <span class="card-title">Masoor</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/urad" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png">
            </div>
            <div class="col s9">
              <span class="card-title">Urad</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/jute" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/potato.png">
            </div>
            <div class="col s9">
              <span class="card-title">Raw Jute</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/niger" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png">
            </div>
            <div class="col s9">
              <span class="card-title">Niger Seed</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/safflower" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png">
            </div>
            <div class="col s9">
              <span class="card-title">Kardi Seed</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/sunflower" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/potato.png">
            </div>
            <div class="col s9">
              <span class="card-title">Sunflower</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col s3">
      <a href="http://localhost:8000/cropPredict/crops/jowar" style="color: #000000">
        <div class="card grey lighten-4">
          <div class="card-content row valign-wrapper">
            <div class="col s3">
              <img src="https://img.icons8.com/color/48/000000/potato.png">
            </div>
            <div class="col s9">
              <span class="card-title">Jowar</span>
            </div>
          </div>
        </div>
      </a>

    </div>

    <!--===============================================================================================-->
    <script src="../../static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="../../static/vendor/bootstrap/js/popper.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="../../static/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="../../static/js/main.js"></script>

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function () {
        $('.slider').slider({ full_width: true });
      });
    </script>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>